<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline" *ngIf="listCities">Destinations</span>
            </a>
            <form class="form-inline"[formGroup]="searchForm" (ngSubmit)="onSearch(searchForm)">
              <input class="form-control mr-sm-2 mb-2" type="search" placeholder="Chercher une ville" aria-label="Search"formControlName="keyword" required>
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ng-container>
              <div  *ngIf="searchError" class="alert alert-danger mt-2">{{searchError}}</div>
            </ng-container>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item" *ngFor="let city of listCities" (click)="getHotelByCity(city.id)">
                    <button class="nav-link align-middle px-0 text-white">{{city.cityName}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col py-3">
      <div class="row justify-content-center">
        <ng-container *ngIf="listHotels">
          <div *ngIf="this.authService.isAdmin()" ><a class="btn btn-primary me-2" routerLink="/hotel/:id">Ajouter un nouvel hôtel</a></div>
              <div class="card m-3 border-success" style="width: 350px; margin-right: 10px; margin-bottom: 10px;" *ngFor="let hotel of listHotels">
                  <img class="img-thumbnail img-rounded btn" alt="" (click)="onHotelDetail(hotel)" [src]="host + '/photo/' +hotel.id"/>
                  <div class="row g-0">
                        <div class="col">
                          <div class="card-body">
                            <div *ngIf="this.authService.isAdmin()">
                              <button class="btn btn-dark mb-2" (click)="onEditPhoto(hotel)">Photo
                              </button>
                              <p *ngIf="editPhoto && currentHotel == hotel">
                                <input type="file" (change)="onSelectedFile($event)">
                                <button class="btn btn-success mt-2" (click)="onUploadPhoto()">Upload</button>
                              </p> 
                            </div>                   
                              <h4 class="card-title text-center text-danger">{{hotel.hotelName}}</h4>
                              <p class="card-text">Nombre d'étoiles : <small>{{hotel.nbStar}}</small></p>
                              <p class="card-text">Prix/Nuit : <small>{{hotel.priceRoom | currency : 'EUR'}}</small></p>
                              <h5 class="card-text fs-5 text-center text-success">{{hotel.city.cityName}}</h5>
                              <div *ngIf="this.authService.isLoggedIn()">
                                <a class="btn btn-danger me-2 ms-2" *ngIf="this.authService.isAdmin()" (click)="onDeleteHotel(hotel)">Delete</a>
                                <a class="btn btn-success" (click)="onUpdateHotel(hotel)" >Edit</a>
                              </div>
                              <div >
                                
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
