<div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-3 d-none d-sm-inline  text-capitalize" >Bonjour {{this.authService.getUser().username}}</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item" >
                      <button class="nav-link align-middle px-0 text-white" (click)="getListCities()">Villes
                      </button>
                    <button class="nav-link align-middle px-0 text-white" (click)="getListManagers()">Managers
                    </button>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col">
        <div class="row justify-content-center" >
          <ng-container >
            <h3 class="text-center">Villes</h3>
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th>Id</th><th>Ville</th><th>Description</th><th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let city of listCities">
                    <td>{{city.id}}</td>
                    <td>{{city.cityName}}</td>
                    <td>{{city.description}}</td>
                    <td><button class="btn btn-danger me-2">Delete</button>
                        <button class="btn btn-success me-2">Edit</button>
                        <button class="btn btn-primary ">New</button>
                    </td>
                </tr>
                </tbody>
            </table>
          </ng-container>
          <ng-container>
            <h3 class="text-center">Managers</h3>
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>Nom</th><th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of listManagers">
                    <td>{{user.username}}</td>
                    <td><button class="btn btn-danger me-2">Delete</button>
                        <button class="btn btn-success me-2">Edit</button>
                        <button class="btn btn-primary ">New</button>
                    </td>
                </tr>
                </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
