<nav class="navbar navbar-expand-sm bg-success navbar-light">
  <a class="navbar-brand text-white" href="#">SuperHotel</a>
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link text-white" href="#" (click)="getAllHotels()">Hôtels</a>
      </li>      
      <li class="nav-item" *ngIf="this.authService.isAdmin()">
          <a class="nav-link text-white" routerLink="/admin">Dashboard Admin</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.isManager()">
        <a class="nav-link text-white" routerLink="/manager">Dashboard Manager</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto" >
      <li *ngIf="isLoggedIn()" >
          <span class="fs-3 text-capitalize text-white"*ngIf="!this.authService.isAdmin()">{{this.authService.getUser().username}}</span>
        </li>
      <ng-container *ngIf="this.authService.getToken() == null , else elseBlock" >
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="/form-login">Login</a>
      </li>
      </ng-container >
      <ng-template #elseBlock>
          <li class="nav-item">
              <a class="nav-link text-white" routerLink="/hotels"(click)="logout()">Logout</a>
          </li>
      </ng-template>
  </ul>
</nav>
<router-outlet></router-outlet>
